<h1>Bienvenido</h1>
<nav>
    <a routerLink="componente-guardar">Guardar</a>
    <a routerLink="componente-buscartodos">Buscar Todos</a>
</nav> 
<router-outlet></router-outlet>

<!--
<p>Me llamo {{nombre}}</p>
<p>Un mensaje {{mensa.titulo}} el cuepro {{mensa.cuerpo}}</p>
<ul>
    <li *ngFor="let mensaje of mensajes">{{mensaje.titulo}} {{mensaje.id}}</li>
</ul>
 <input [(ngModel)]="mensa.id" placeholder="titulo">
 <input [(ngModel)]="mensa.titulo" placeholder="titulo">
  <input [(ngModel)]="mensa.cuerpo" placeholder="cuerpo">
  <button (click)="guardarElMensaje()">Guardar el mensaje</button>
<button (click)="actualizarElMensaje()">Actualizar mensaje</button>
<p>{{estatus.success}}</p>
<input [(ngModel)]="id" placeholder="id">
<button (click)="borrarElMensaje()">Borrar el mensaje</button>
<button (click)="buscarPorId()">Buscar por id</button>
<br>
-->

